.row
  .large-12.columns
    %h1 Ignite's Seed Framework
    %h6.subheader Version 1.0.0 Built on Foundation

.row
  .large-12.columns
    %ul.breadcrumbs
      %li
        %a{href: "#"} Home
      %li
        %a{href: "#"} Features
      %li.unavailable
        %a{href: "#"} Gene Splicing
      %li.current
        %a{href: "#"} Cloning
    / Size Classes
    %a.button{href: "#"} Default Button
    %a.tiny.button{href: "#"} Tiny Button
    %a.small.button{href: "#"} Small Button
    %a.large.button{href: "#"} Large Button
    / Color Classes
    %a.button.secondary{href: "#"} Secondary Button
    %a.button.success{href: "#"} Success Button
    %a.button.alert{href: "#"} Alert Button
    / Radius Classes
    %a.button.radius{href: "#"} Radius Button
    %a.button.round{href: "#"} Round Button
    / Disabled Class
    %a.button.disabled{href: "#"} Disabled Button