.row
  .large-12.columns
    %h1 Ignite's Seed UI Library
    %h6.subheader Version 1.0.0 Built on Foundation
%br
%br
.row
  .large-12.columns
    %h3 Button Sizes
    %a.tiny.button.primary{:href => "#"} Tiny Button
    %a.small.button.primary{:href => "#"} Small Button
    %a.button.primary{:href => "#"} Regular Button
    %a.large.button.primary{:href => "#"} Large Button
    %h3 Button Colors
    %a.button.primary{:href => "#"} Primary Button
    %a.button.warning{:href => "#"} Warning Button
    %a.button.default{:href => "#"} Default Button
    %a.button.danger{:href => "#"} Danger Button
    %a.button.success{:href => "#"} Success Button
    %a.button.inverse{:href => "#"} Inverse Button
    %a.button.info{:href => "#"} Info Button
    %a.button.disabled{:href => "#"} Disable Button
%br
%br
.row
  .large-12.columns
    %h3 Menu
    %nav.top-bar{style: ""}
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{href: "http://www.zurb.com/expo"}
              Ignite
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            %a{href: "#"} Menu Item
          %li.has-dropdown.not-click
            %a{href: "#"} Menu Item
            %ul.dropdown
              %li.title.back.js-generated
                %h5
                  %a{href: "#"} Back
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
          %li.has-dropdown.not-click
            %a{href: "#"} Menu Item
            %ul.dropdown
              %li.title.back.js-generated
                %h5
                  %a{href: "#"} Back
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
          %li
            %a{href: "#"} Menu Item
%br
%br
.row
  .large-12.columns
    %h3 Breadcrumbs
    %ul.breadcrumbs
      %li
        %a{href: "#"} Ignite
      %li
        %a{href: "#"} Is
      %li.unavailable
        %a{href: "#"} Pretty
      %li.current
        %a{href: "#"} Awesome
%br
%br
.row
  .large-12.columns
    %h3 Pagination
    %ul.pagination
      %li.arrow.unavailable
        %a{href: ""} «
      %li.current
        %a{href: ""} 1
      %li
        %a{href: ""} 2
      %li
        %a{href: ""} 3
      %li
        %a{href: ""} 4
      %li.unavailable
        %a{href: ""} …
      %li
        %a{href: ""} 12
      %li
        %a{href: ""} 13
      %li.arrow
        %a{href: ""} »
%br
%br
.row
  .large-12.columns
    %h3 Inputs
    .large-3.columns
      %input{placeholder: "Inactive", type: "text"}
    .large-3.columns
      %input.error{placeholder: "Error", type: "text"}
    .large-3.columns
      %input.success{placeholder: "Success", type: "text"}
    .large-3.columns
      %input{disabled: "disabled", placeholder: "Disabled", type: "text"}
%br
%br
.row
  .large-12.columns
    %h3 Checkboxes and Radio Buttons
    %form.custom
      .large-6.columns
        %label{for: "radio1"}
          %input#radio1{checked: "checked", name: "radio1", style: "display:none;", type: "radio"}/
          %span.custom.radio.checked
          Radio Button 1
        %label{for: "radio1"}
          %input#radio1{name: "radio1", style: "display:none;", type: "radio"}/
          %span.custom.radio
          Radio Button 2
        %label{for: "radio1"}
          %input#radio1{disabled: "disabled", name: "radio1", style: "display:none;", type: "radio"}/
          %span.custom.radio
          Radio Button 3
      .large-6.columns
        %label{for: "checkbox1"}
          %input#checkbox1{style: "display: none;", type: "checkbox"}/
          %span.custom.checkbox
          Label for Checkbox
        %label{for: "checkbox2"}
          %input#checkbox2{checked: "checked", style: "display: none;", type: "checkbox"}/
          %span.custom.checkbox.checked
          Label for Checkbox
        %label{for: "checkbox3"}
          %input#checkbox3{checked: "checked", style: "display: none;", type: "checkbox"}/
          %span.custom.checkbox.checked
          Label for Checkbox
%br
%br
.row
  .large-12.columns
    %h3 Block Grid
    %ul.large-block-grid-4
      %li
        %img{src: "/assets/cat.jpg"}
      %li
        %img{src: "/assets/cat.jpg"}
      %li
        %img{src: "/assets/cat.jpg"}
      %li
        %img{src: "/assets/cat.jpg"}