.row
  .large-12.columns
    %h1 Ignite's Seed UI Library
    %h6.subheader Version 1.0.0 Built on Foundation

.row
  .large-12.columns
    %h3 Button Sizes
    %a.tiny.button{:href => "#"} Tiny Button
    %a.small.button{:href => "#"} Small Button
    %a.button{:href => "#"} Regular Button
    %a.large.button{:href => "#"} Large Button
    %h3 Button Colors
    %a.button{:href => "#"} Primary Button
    %a.button.warning{:href => "#"} Warning Button
    %a.button.default{:href => "#"} Default Button
    %a.button.danger{:href => "#"} Danger Button
    %a.button.success{:href => "#"} Success Button
    %a.button.inverse{:href => "#"} Inverse Button
    %a.button.info{:href => "#"} Info Button
    %a.button.disabled{:href => "#"} Disable Button

.row
  .large-12.columns
    %h3 Menu
    %nav.top-bar.hide-for-small{style: ""}
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{href: "http://www.zurb.com/expo"}
              Ignite
        %li.toggle-topbar
          %a{href: "#"}
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            %a{href: "#"} Menu Item
          %li.has-dropdown.not-click
            %a{href: "#"} Menu Item
            %ul.dropdown
              %li.title.back.js-generated
                %h5
                  %a{href: "#"} Back
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
          %li.has-dropdown.not-click
            %a{href: "#"} Menu Item
            %ul.dropdown
              %li.title.back.js-generated
                %h5
                  %a{href: "#"} Back
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
              %li
                %a{href: "#"} List Item
          %li
            %a{href: "#"} Menu Item

.row
  .large-12.columns
    %h3 Breadcrumbs
    %ul.breadcrumbs
      %li
        %a{href: "#"} Ignite
      %li
        %a{href: "#"} Is
      %li.unavailable
        %a{href: "#"} Pretty
      %li.current
        %a{href: "#"} Awesome

.row
  .large-12.columns
    %h3 Inputs
    .large-3.columns
      %input{placeholder: "Inactive", type: "text"}
    .large-3.columns
      %input.error{placeholder: "Error", type: "text"}
    .large-3.columns
      %input.success{placeholder: "Success", type: "text"}
    .large-3.columns
      %input{placeholder: "Disabled", type: "text"}