.row
  .large-12.columns
    %h1 Ignite's Seed UI Library
    %h6.subheader Version 1.0.0 Built on Foundation

.row
  .large-12.columns
    %h3 Button Sizes
    %a.tiny.button{:href => "#"} Tiny Button
    %a.small.button{:href => "#"} Small Button
    %a.button{:href => "#"} Regular Button
    %a.large.button{:href => "#"} Large Button
    %h3 Button Colors
    %a.button{:href => "#"} Primary Button
    %a.button.warning{:href => "#"} Warning Button
    %a.button.default{:href => "#"} Default Button
    %a.button.danger{:href => "#"} Danger Button
    %a.button.success{:href => "#"} Success Button
    %a.button.inverse{:href => "#"} Inverse Button
    %a.button.info{:href => "#"} Info Button
    %a.button.disabled{:href => "#"} Disable Button