// Colors
$mountain-meadow: #1ABC9B
$dark-mountain-meadow: darken($mountain-meadow, 20%)
$buttercup: #f1c40f
$dark-buttercup: darken($buttercup, 20%)
$silver-sand: #BDC3C4
$dark-silver-sand: darken($silver-sand, 20%)
$cinnabar: #e74c3c
$dark-cinnabar: darken($cinnabar, 20%)
$shamrock: #2ecc71
$dark-shamrock: darken($shamrock, 20%)
$light-shamrock: lighten($shamrock, 40%)
$pickled-bluewood: #34495e
$dark-pickled-bluewood: darken($pickled-bluewood, 20%)
$curious-blue: #3498DA
$dark-curious-blue: darken($curious-blue, 20%)
$silver: #bdc3c7
$dark-silver: darken($silver, 20%)
$shark: #1B1E23
$primary-color: $mountain-meadow

// Breadcrumbs
$crumb-bg: lighten($silver, 15%)
$crumb-border-size: 0px

// Top-Bar
$topbar-bg: $shark
$topbar-arrows: false
$topbar-link-bg-hover: $mountain-meadow
$topbar-link-bg-active: darken($topbar-bg, 3%)

// Inputs
$input-box-shadow: none
$input-border-width: 2px