// Colors
$mountain-meadow: #1ABC9B
$buttercup: #f1c40f
$dark-buttercup: darken($buttercup, 10%)
$silver-sand: #BDC3C4
$dark-silver-sand: darken($silver-sand, 10%)
$cinnabar: #e74c3c
$dark-cinnabar: darken($cinnabar, 10%)
$shamrock: #2ecc71
$dark-shamrock: darken($shamrock, 10%)
$pickled-bluewood: #34495e
$dark-pickled-bluewood: darken($pickled-bluewood, 10%)
$curious-blue: #3498DA
$dark-curious-blue: darken($curious-blue, 10%)
$silver: #bdc3c7
$dark-silver: darken($silver, 10%)
$primary-color: $mountain-meadow

// Breadcrumbs
$crumb-bg: lighten($silver, 15%)
$crumb-border-size: 0px

// Top-Bar
$topbar-bg: $pickled-bluewood
$topbar-arrows: false
$topbar-link-bg-hover: $mountain-meadow
$topbar-link-bg-active: darken($topbar-bg, 3%)